<div class="newpassword">
    <h4>Please enter your password below : (This page loads only for the first time)</h4>
    <h6>(Please do not press back on this page)</h6>
    <div class="form-group">
        <form action="#" class="was-validated" autocomplete='off'>
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" [(ngModel)]="user_info.psw" placeholder="Enter password" name="pswd" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Invalid Password.</div>
            <button type="submit" class="btn btn-primary" id="submit" (click)="submit($event)">Submit</button><br/>
        </form>
    </div>
</div>