<div class="addtrainer">
    <h5>Please enter the Trainer details :</h5>
    <form action="#" class="was-validated" autocomplete='off'>
        <div class="form-group">
            <label for="tname">Name :</label>
            <input type="text" class="form-control" id="tname" [(ngModel)]="trainer.tname" placeholder="Enter Name" name="tname" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Invalid Name.</div>
        </div>
        <div class="form-group">
            <label for="designation">Designation :</label>
            <input type="text" class="form-control" id="designation" [(ngModel)]="trainer.designation" placeholder="Enter Designation" name="designation" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Invalid Designation.</div>
        </div>
        <div class="form-group">
            <label for="specialities">Specialities :</label>
            <input type="text" class="form-control" id="specialities" [(ngModel)]="trainer.specialities" placeholder="Enter Specialities" name="specialities" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Invalid Specialities.</div>
        </div>
        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="trainer.email" placeholder="Enter Email" name="email" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Invalid Email.</div>
        </div>
        <button type="submit" id="submit" class="btn btn-primary" id="submit" (click)="addTrainer($event)">Add Trainer <i class="fas fa-user-plus"></i></button><br/>
        <a (click)="goBack()" class="btn btn-danger btn-block" style="color: white;" id="back"><i class="fas fa-backward"></i> Go Back</a>
    </form>
</div>
