<div>
    <form class="form-inline mr-auto">
      <input class="form-control" [(ngModel)]="searchstring" type="text" id="searchbox" name="searchbox" placeholder="Search" (change)="search()" autocomplete="off">
      <button type="button" id="course" class="btn btn-dark" (click)="courseTrend()">Course <i class="fas fa-book"></i></button>
      <button type="button" id="score" class="btn btn-dark" (click)="scoreTrend()">Score <i class="fas fa-poll"></i></button>
      <button type="button" id="location" class="btn btn-dark" (click)="locationTrend()">Location <i class="fas fa-map-marker-alt"></i></button>
      <button type="button" id="rating" class="btn btn-dark" (click)="ratingTrend()">Rating <i class="fas fa-star"></i></button>
    </form>
</div>

<div class="projects" >
    <h2 style="margin-left: 32%;">Here is the list of courses :</h2>
    <br/>
    <div class="courses">
        <table  class="table table-hover table-sm">
            <tr *ngFor="let course of tempcourses | keyvalue">
                <div class="course">
                    <br/>
                    <h3 class="coursetitle">{{ course.value.cname }}</h3>
                    <div class="coursedescr" title="Last Updated : {{ course.value.last_updated }}">
                        <h6>Description : {{ course.value.cdescription }}</h6>
                        <h6>Skills : {{ course.value.skills }}</h6>
                        <h6>Prerequisites : {{ course.value.prerequisites }}</h6>
                        <h6>Location : {{ course.value.location }} </h6>
                        <h6>Faculty : {{ trainersmap.get(course.value.tid)["tname"] }}</h6>
                        <h6>Designation : {{ trainersmap.get(course.value.tid)["designation"] }} </h6>
                        <h6 *ngIf="scoresmap.get(course.value.cid)">Score : {{ scoresmap.get(course.value.cid) }}%</h6>
                        <h6 *ngIf="!scoresmap.get(course.value.cid)">Score : 0%</h6>
                        <h6 *ngIf="course.value.rating == 0">Rating : NA</h6>
                        <h6 *ngIf="course.value.rating != 0">Rating : {{ course.value.rating }}</h6>
                        <svg *ngIf="!isAdmin" id="svg" viewbox="0 0 100 100">
                            <circle cx="50" cy="50" r="45" fill="#FDB900"/>
                            <path *ngIf="progress.get(course.value.cid)!=null || progress.get(course.value.cid)!=0" fill="none" stroke-linecap="round" stroke-width="3" stroke="#fff"
                                  attr.stroke-dasharray="{{ (progress.get(course.value.cid)*255)/100 }} 255"
                                  d="M50 10
                                     a 40 40 0 0 1 0 80
                                     a 40 40 0 0 1 0 -80"/>
                            <text *ngIf="progress.get(course.value.cid)!=null" x="50" y="50" text-anchor="middle" dy="7" font-size="20">{{ progress.get(course.value.cid) }}%</text>
                            <text *ngIf="progress.get(course.value.cid)==null" x="50" y="50" text-anchor="middle" dy="7" font-size="20">NA</text>
                        </svg>
                    </div>
                    <button *ngIf="isAdmin" class="btn btn-primary" id="update" (click)="updateCourse(course.value.cid)">Update <i id="upicon" class="fas fa-pen"></i></button>
                    <button *ngIf="isAdmin" class="btn btn-danger btn-block" id="delete" (click)="deleteCourse(course.value.cid)">Delete <i id="delicon" class="fas fa-trash-alt"></i></button>
                    <div class="view">
                        <button class="btn btn-primary" id="view" (click)="view(course.value.cid)">View <i id="viewicon" class="fas fa-eye"></i></button>
                    </div>
                </div>
                <br/>
            </tr>    
        </table>
    </div>
</div>

<div class="fab-container" *ngIf="isAdmin">
    <div class="fab fab-icon-holder">
        <i class="fas fa-plus"></i>
    </div>
    <ul class="fab-options">
        <li>
            <span class="fab-label">Add Trainer</span>
            <div class="fab-icon-holder" (click)="addTrainer()">
                <i class="fas fa-user-plus"></i>
            </div>
        </li>
        <li>
            <span class="fab-label">Add Course</span>
            <div class="fab-icon-holder" (click)="addCourse()">
                <i class="fas fa-book"></i>
            </div>
        </li>
        <li>
            <span class="fab-label">Add Assignment</span>
            <div class="fab-icon-holder" (click)="addAssignment()">
                <i class="fas fa-tasks"></i>
            </div>
        </li>
    </ul>
</div>
