
.projects {
    margin-left: 10%;
}

.course {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 25%;
    margin-left: 20%;
    height: 300px;
    border-radius: 5px;
    transition: height 1s;
  }

.course:hover {
    cursor: pointer;
    height: 360px;
}

  #update {
      float:right;
      margin-top: -28%;
      width:15%;
      margin-right: 5%;
  }

  #delete {
      float:right;
      width:15%;
      margin-top: -18%;
      margin-right: 5%;
  }

  .coursetitle {
    margin-left: 45%;
  }

  .coursedescr {
    margin-left: 5%;
  }

  #addCourse {
      width:120px;
      height:50px;
      position: fixed;
      bottom: 5px;
      right: 10px;
  }

  #addTrainer {
      width:120px;
      height:50px;
      position: fixed;
      bottom: 5px;
      right: 150px;
  }

#searchbox {
    width: 660px;
    margin-left: 28%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.view {
  visibility: visible;
  opacity: 0;
  margin-left: 25%;
  margin-top: 5%;
}

#view {
  width:70%;
}

.course > .view {
  opacity: 0;
  transition: opacity 0.5s linear
}

.course:hover > .view {
  opacity: 1;
  transition: opacity 2s linear
}

#score {
  margin-top: 10%;
  margin-left: -34%;
  margin-bottom: 1%;
}

#location {
  margin-top: 10%;
  margin-left: 1%;
  margin-bottom: 1%;
}

#rating {
  margin-top: 10%;
  margin-left: 1%;
  margin-bottom: 1%;
}