<div>
    <form class="form-inline mr-auto">
      <input class="form-control" [(ngModel)]="searchstring" type="text" id="searchbox" name="searchbox" placeholder="Search" (change)="search()" autocomplete="off">
    </form>
</div>

<div class="projects" >
    <h2 style="margin-left: 30%;">Here is the list of courses :</h2>
    <br/>
    <div class="courses">
        <table  class="table table-hover table-sm">
            <tr *ngFor="let course of tempcourses | keyvalue">
                <div class="course">
                    <br/>
                    <h3 class="coursetitle">{{ course.value.cname }}</h3>
                    <div class="coursedescr">
                        <h6>Description : {{ course.value.cdescription }}</h6>
                        <h6>Skills : {{ course.value.skills }}</h6>
                        <h6>Prerequisites : {{ course.value.prerequisites }}</h6>
                        <h6>Faculty : {{ trainersmap.get(course.value.tid)["tname"] }}</h6>
                        <h6>Designation : {{ trainersmap.get(course.value.tid)["designation"] }} </h6>
                        <h6 *ngIf="course.value.feedback == 0">Rating : NA</h6>
                        <h6 *ngIf="course.value.feedback != 0">Rating : {{ course.value.feedback }}</h6>
                    </div>
                    <button *ngIf="isAdmin" class="btn btn-primary" id="update" (click)="updateCourse(course.value.cid)">Update</button>
                    <button *ngIf="isAdmin" class="btn btn-danger btn-block" id="delete" (click)="deleteCourse(course.value.cid)">Delete</button>
                </div>
                <br/>
            </tr>    
        </table>
    </div>
</div>

<div>
    <button *ngIf="isAdmin" type="button" id="addCourse" title="Add course" class="btn btn-success bmd-btn-fab" (click)="addCourse()">+</button>
</div>