.text {
    position: absolute;
    margin-top: 10%;
    margin-left: 1%;
    font-size: 50px;
    float: left;
}

#login {
    margin-left:490%;
}

#logout {
    margin-left:465%;
}

#leftNav {
    float:left;
}

.video {
    width:70%;
    height: 550px;
    margin-left: 370px;
    margin-top: 30px;
    overflow: hidden;
}

.textLogin {
    margin-top: 3%;
    margin-left: 25%;
}