.text {
    position: absolute;
    margin-top: 10%;
    margin-left: 3%;
    font-size: 50px;
    float: left;
}

#login {
    margin-left:490%;
}

#logout {
    margin-left:465%;
}

#leftNav {
    float:left;
}

.video {
    width:70%;
    height: 540px;
    margin-left: 380px;
    margin-top: 35px;
}

.textLogin {
    margin-top: 3%;
    margin-left: 25%;
}