<div class="trainers">
    <h5>Here is the list of Trainers :</h5>
    <div class="overflow-auto " style="max-height: 450px;margin-top: 20px;" id="trainerlist">
        <table  class="table table-hover table-sm">
            <tr *ngFor="let trainer of trainers | keyvalue">
                <div class="trainer">
                    <br/>
                    <h5 style="margin-left: 5%;">Trainer Email : {{ trainer.value.email }}</h5>
                    <h6 style="margin-left: 5%;">Trainer Name : {{ trainer.value.tname }}</h6>
                    <h6 style="margin-left: 5%;">Trainer Designation : {{ trainer.value.designation }}</h6>
                    <h6 style="margin-left: 5%;">Trainer Specialities : {{ trainer.value.specialities }}</h6>
                    <button type="submit" id="assign" class="btn btn-primary" (click)="assignFaculty($event,trainer.value.email,trainer.value.tid,trainer.value.tname)">Assign</button>
                </div>
            </tr>
        </table>
    </div>
    <a (click)="goBack()" class="btn btn-danger btn-block" style="color: white;" id="back"><i id="backicon" class="fas fa-backward"></i> Go Back</a>
</div>



<div class="addcourse">
    <h5>Please update the course details :</h5>
    <form action="#" class="was-validated" autocomplete='off'>
        <div class="form-group">
            <label for="cname">Course Name<sup style="color: red;">*</sup> :</label>
            <input type="text" class="form-control" id="cname" [(ngModel)]="course.cname" placeholder="Enter Course Title" name="cname" required>
        </div>
        <div class="form-group">
            <label for="cdescription">Course Description<sup style="color: red;">*</sup> :</label>
            <input type="text" class="form-control" id="cdescription" [(ngModel)]="course.cdescription" placeholder="Enter Course Description" name="cdescription" required>
        </div>
        <div class="form-group">
            <label for="skills">Skills<sup style="color: red;">*</sup> :</label>
            <input type="text" class="form-control" id="skills" [(ngModel)]="course.skills" placeholder="Enter Skills" name="skills" required>
        </div>
        <div class="form-group">
            <label for="prerequisites">Prerequisites<sup style="color: red;">*</sup> :</label>
            <input type="text" class="form-control" id="prerequisites" [(ngModel)]="course.prerequisites" placeholder="Enter Prerequisites" name="prerequisites" required>
        </div>
        <div class="form-group">
            <label for="prerequisites">Location<sup style="color: red;">*</sup> :</label>
            <input type="text" class="form-control" id="location" [(ngModel)]="course.location" placeholder="Enter Location" name="location" required>
        </div>
        <button type="submit" class="btn btn-primary" id="submit" (click)="updatecourse($event)">Update <i style="margin-left: 3%;" id="upicon" class="fas fa-pen"></i></button><br/>
    </form>
</div>
