<input class="form-control" [(ngModel)]="searchstring" type="text" id="searchbox" name="searchbox" placeholder="Search Course" (ngModelChange)="search()" autocomplete="off">

<div class="courses">
    <h5>Here is the list of Courses :</h5>
    <div class="overflow-auto " style="max-height: 250px;margin-top: 40px;" id="courseslist">
        <table  class="table table-hover table-sm">
            <tr *ngFor="let course of courses | keyvalue">
                <div class="course">
                    <br/>
                    <h5 style="margin-left: 5%;">Course Title : {{ course.value.cname }}</h5>
                    <h6 style="margin-left: 5%;">Skills : {{ course.value.skills }}</h6>
                    <h6 style="margin-left: 5%;">Prerequisites : {{ course.value.prerequisites }}</h6>
                    <button type="submit" id="assign" class="btn btn-primary" (click)="assignCourse($event,course.value.cname,course.value.cid)">Assign</button>
                </div>
            </tr>
        </table>
    </div>
    <a (click)="goBack()" class="btn btn-danger btn-block" style="color: white;" id="back"><i id="backicon" class="fas fa-backward"></i> Go Back</a>
</div>



<div class="addassignment">
    <h5>Please enter the assignment details :</h5>
    <p>(NOTE : Only image uploads allowed.)</p>
    <form action="#" class="was-validated" autocomplete='off' style="margin-top: 20px;">
        <div class="form-group">
            <label for="question">Question<sup style="color: red;">*</sup> :</label><br/>
            <input type="file" id="question" (change)="handleFileInput($event.target.files)">
        </div>
        <div class="form-group">
            <label for="cdescription">Type<sup style="color: red;">*</sup> :</label>
            <input type="text" class="form-control" id="type" [(ngModel)]="assignment.asstype" placeholder="Enter Type" name="type" required>
        </div>
        <div class="form-group">
            <label for="weightage">Weightage<sup style="color: red;">*</sup> :</label>
            <input type="number" class="form-control" id="weightage" [(ngModel)]="assignment.weight" placeholder="Enter Weightage" name="weightage" required>
        </div>
        <button type="submit" id="submit" class="btn btn-primary" id="submit" (click)="addassignment($event)">Add Assignment <i class="fas fa-plus-circle"></i></button><br/>
    </form>
</div>