<div class="heading">
    <h2>Here are the list of assignments : </h2>
</div>
<br/>
<div class="assignments">
    <h1 *ngIf="assignments.length==0" style="margin-left: 30%;">Hurray! No Assignments yet.</h1>
    <table *ngIf="assignments" class="table table-hover table-sm">
        <tr *ngFor="let assignment of assignments | keyvalue">
            <div class="assignment">
                <br/>
                <div id="assDetails">
                    <h6 style="margin-left: 3%;">Question : {{ assignment.value.question }}</h6>
                    <h6 style="margin-left: 3%;">Type : {{ assignment.value.asstype }}</h6>
                    <h6 style="margin-left: 3%;">Weightage : {{ assignment.value.weight }}</h6>
                    <h6 *ngIf="statusmap.get(assignment.value.aid)==true" style="margin-left: 3%;">Status : Submitted</h6>
                    <h6 *ngIf="statusmap.get(assignment.value.aid)==false" style="margin-left: 3%;">Status : Pending</h6>
                </div>
                <button class="btn btn-primary" id="submit" (click)="uploadAssignment(assignment.value.aid)">Uplaod</button>
                <button class="btn btn-danger btn-block" id="withdraw" (click)="dropAssignment(assignment.value.aid)">Withdraw</button>
            </div>
            <input type="file" id="upload" (change)="handleFileInput($event.target.files)">
            <br/> 
            <br/>
        </tr> 
    </table>
    <br/>
    <button class="btn btn-danger btn-block" id="back" (click)="goBack()" >Go Back</button>
    <div class="stars" *ngIf="ratedList.length==0">
        <h5 style="margin-left:20%;">Rate the course :</h5>
        <form action="">
            <input class="star star-5" id="star-5" type="radio" name="star" (click)="setRating(5)"/>
            <label class="star star-5" for="star-5"></label>
            <input class="star star-4" id="star-4" type="radio" name="star" (click)="setRating(4)"/>
            <label class="star star-4" for="star-4"></label>
            <input class="star star-3" id="star-3" type="radio" name="star" (click)="setRating(3)"/>
            <label class="star star-3" for="star-3"></label>
            <input class="star star-2" id="star-2" type="radio" name="star" (click)="setRating(2)"/>
            <label class="star star-2" for="star-2"></label>
            <input class="star star-1" id="star-1" type="radio" name="star" (click)="setRating(1)"/>
            <label class="star star-1" for="star-1"></label>
            <button style="margin-left:35%;" class="btn btn-primary" id="rate" (click)="addRating()">Submit</button>
        </form>
    </div>
    <br/>
</div>
<button *ngIf="isAdmin" type="button" id="addAssignment" title="Add Assignment" (click)="addAssignment()" class="btn btn-success bmd-btn-fab">+</button>